


<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title class="Ideas-Needs-Platform-Spn"> نظام ایده ها و نیازها (نان)</title>
    <link rel="stylesheet" href="/Template/assets/css/bootstrap/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/Template/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/Template/assets/css/select2/select2.min.css" />
    <link rel="stylesheet" href="/Template/assets/css/datepicker/kamadatepicker.min.css" />
    <link rel="stylesheet" href="/Template/assets/css/dropzone/dropzone.min.css" />
    <link rel="stylesheet" href="/Template/assets/css/bs-icon/bootstrap-icons.css" />
    <link rel="stylesheet" href="/Template/assets/css/statics.css" />
    <link rel="stylesheet" href="/Template/assets/css/styles.css" />
    <link rel="stylesheet" href="/Template/assets/css/aos.css" />
    <link rel="stylesheet" href="/Template/assets/css/bootstrap-slider.min.css" />
    <link rel="stylesheet" href="/Template/templateStyle.css" />

    <!--snackbar-->
    <style>
        #snackbar {
            visibility: hidden; /* Hidden by default. Visible on click */
            min-width: 250px; /* Set a default minimum width */
            margin-left: -125px; /* Divide value of min-width by 2 */
            background-image: linear-gradient(to right, #48b246, #16c2f4);
            background-color: white; /* Black background color */
            color: white; /* White text color */ /*#48b246   #16c2f4*/
            text-align: center; /* Centered text */
            border-block: solid;
            border-inline: solid;
            border-block-color: white;
            border-inline-color: white;
            border-radius: 5px; /* Rounded borders */
            padding: 16px; /* Padding */
            position: fixed; /* Sit on top of the screen */
            z-index: 1000; /* Add a z-index if needed */
            left: 50%; /* Center the snackbar */
            top: 10%; /*60px; */ /* 30px from the bottom */
        }

            /* Show the snackbar when clicking on a button (class added with JavaScript) */
            #snackbar.show {
                visibility: visible; /* Show the snackbar */
                /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
                                                However, delay the fade out process for 2.5 seconds */
                /*   -webkit-animation: fadein 0.5s, fadeout 0.5s 5.0s;
                                                animation: fadein 0.5s, fadeout 0.5s 5.0s;*/
            }

        /* Animations to fade the snackbar in and out */
    </style>
    <script>
        document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                $(".search-blure").show();
                $(".search-blure-image-container").show();
            } else {
                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            }
        };
    </script>
</head>
<body class="Change-Font-Family">
    <div class="search-blure"></div>
    <div class="search-blure-image-container"> <img src="/Template/assets/images/loading.gif" style="max-width:400px; max-height:250px" /></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container" style="z-index:1">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-contents-between" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">

                        <a class="nav-link active fs-7" aria-current="page" href="/home/index"><span class="Ideas-Needs-Platform-Spn">نظام ایده ها و نیازها</span>(<span class="NaN-INP-spn">نان</span>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-7 text-white" href="/home/Guide">  راهنما </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fs-7 text-white" href="/home/faq"><span class="Common-Questions-Spn">پرسش های متداول</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-7 text-white" href="/Home/ContactUs"><span class="ContactUs-Spn">ارتباط با ما</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fs-7 text-white" href="/Home/AboutUs"><span class="AboutUs-Spn">درباره ما</span></a>
                    </li>

                    <li class="nav-item dropdown fs-7 text-white">
                        <a class="nav-link dropdown-toggle text-white"
                           href="#"
                           id="navbarHeaderIdeas"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span class="Idea-To-Ideas-Spn">اطلاع رسانی</span>
                        </a>
                        <ul class="dropdown-menu fs-7"
                            aria-labelledby="navbarHeaderReports">
                            <li>
                                <a class="dropdown-item" href="/Home/News"><span class="View-Ideas-Spn">اخبار</span></a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>

                            <li>
                                <a class="dropdown-item" href="/Template/assets/documents/nan-methods-14010711-ver2.pdf"><span class="Submit-New-Idea-Spn">فایل شیوه نامه</span></a>
                            </li>



                        </ul>
                    </li>

                    <!---->
                    <!--
                    <li><hr class="dropdown-divider" /></li>
                                    <li class="dropdown-submenu">
                                      <a class="dropdown-item dropdown-toggle" href="#"
                                        >زیر منو یک</a
                                      >
                                      <ul class="dropdown-menu fs-7">
                                        <li>
                                          <a class="dropdown-item" href="#">زیر منو یک - یک</a>
                                        </li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li>
                                          <a class="dropdown-item" href="#">زیر منو یک - دو</a>
                                        </li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li class="dropdown-submenu">
                                          <a class="dropdown-item dropdown-toggle" href="#"
                                            >زیر منو یک - سه</a
                                          >
                                          <ul class="dropdown-menu fs-7">
                                            <li>
                                              <a class="dropdown-item" href="#">زیر منو سه - یک</a>
                                            </li>
                                            <li><hr class="dropdown-divider" /></li>
                                            <li>
                                              <a class="dropdown-item" href="#">زیر منو سه - دو</a>
                                            </li>
                                          </ul>
                                        </li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li class="dropdown-submenu">
                                          <a class="dropdown-item dropdown-toggle" href="#"
                                            >زیر منو یک - چهار</a
                                          >
                                          <ul class="dropdown-menu fs-7">
                                            <li>
                                              <a class="dropdown-item" href="#"
                                                >زیر منو چهار - یک</a
                                              >
                                            </li>
                                            <li><hr class="dropdown-divider" /></li>
                                            <li>
                                              <a class="dropdown-item" href="#"
                                                >زیر منو چهار - دو</a
                                              >
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </li>  -->
                    <!---->
                    <!---->
                    <!---->
                    <li class="nav-item dropdown fs-7 text-white">
                        <a class="nav-link dropdown-toggle text-white"
                           href="#"
                           id="navbarHeaderIdeas"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span class="Idea-To-Ideas-Spn">ایده</span>
                        </a>
                        <ul class="dropdown-menu fs-7"
                            aria-labelledby="navbarHeaderReports">
                            <li>
                                <a class="dropdown-item" href="/Search/Index?Entity=Idea"><span class="View-Ideas-Spn">مشاهده ایده ها</span></a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="/Ideas/IdeaSelectTemplate"><span class="Submit-New-Idea-Spn">ثبت ایده جدید</span></a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="/ValidateDOR"><span class="Submit-New-Idea-Spn">استعلام ایده</span></a>
                            </li>




                        </ul>
                    </li>

                    <!---->
                    <!---->
                    <li class="nav-item dropdown fs-7  text-white">
                        <a class="nav-link dropdown-toggle fs-7 fw-normal text-white"
                           href="#"
                           id="navbarHeaderIdeas"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span class="Need-To-Needs-Spn">نیاز</span>
                        </a>
                        <ul class="dropdown-menu fs-7"
                            aria-labelledby="navbarHeaderReports">
                            <li>
                                <a class="dropdown-item" href="/Search/Index?Entity=Need"><span class="View-Needs-Spn">مشاهده نیاز ها</span></a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="/Needs/NeedSelectTemplate"><span class="Submit-New-Need-Spn">ثبت نیاز جدید</span></a>
                            </li>


                            <li>
                                <a class="dropdown-item" href="/ValidateDOR"><span class="Submit-New-Need-Spn">استعلام نیاز</span></a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="/Needs/ImportNeedFromExcel"> ارسال انبوه</a>
                            </li>




                        </ul>
                    </li>

                    <!---->
                    <li class="nav-item dropdown fs-7  text-white">
                        <a class="nav-link dropdown-toggle fs-7 fw-normal text-white"
                           href="#"
                           id="navbarHeaderIdeas"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span>وزارتخانه ها</span>
                        </a>
                        <ul class="dropdown-menu fs-7"
                            aria-labelledby="navbarHeaderReports">
                            <li>
                                <a class="dropdown-item" href="https://mop.nan.ac/"><span>وزارت نفت</span></a>
                            </li>

                        </ul>
                    </li>




                </ul>

                <ul class="navbar-nav">


                    <li class="nav-item border-end border-secondary">



                        <style>
                            #google_translate_element select {
                                background: #001233;
                                color: white;
                                border: none;
                                border-radius: 3px;
                                font-weight: bold;
                                padding: 6px 8px;
                                /*to remove arrow:*/
                                appearance: none;
                                /* white-space: pre-wrap;
                                                         direction:rtl;*/
                            }


                            .goog-logo-link {
                                display: none !important;
                            }

                            .goog-te-gadget {
                                color: transparent !important;
                            }


                            /*upper pane to return to original language*/
                            .goog-te-banner-frame {
                                display: none !important;
                            }




                            /* #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
                            .goog-text-highlight { background: none !important; box-shadow: none !important;}*/
                        </style>

                        <div id="google_translate_element"></div>

                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({
                                    pageLanguage: 'fa',
                                    ////  includedLanguages: 'en',

                                    ///////////layout: google.translate.TranslateElement.InlineLayout.SIMPLE




                                }, 'google_translate_element');
                            }

                        </script>
                        <!--<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->

                        <script type="text/javascript" src="/Template/assets/js/translate-google.js"></script>
                    </li>

                    <li class="nav-item border-end border-secondary">
                        <div class="dropdown">
                            <a class="dropdown-toggle nav-link fs-7 text-white" href="#" role="button" id="userOptionsBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                09364412060
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="userOptionsBtn">
                                <li><h6 class="dropdown-header">نقش: کاربر   </h6></li>
                                <li><a class="dropdown-item" href="/UserDashboard/Index">ورود به پنل کاربری  </a></li>
                                <li> <hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/Account/Logout">خروج از سامانه</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-7 text-white" href="https://isc.ac/">ISC</a>
                    </li>

                    <li id="UserNotificationsPlc" class="nav-item dropdown notification-header">
                    </li>
                </ul>


            </div>
        </div>
    </nav>

    <style>



        .drag-me {
            /*background: $purple;
                                          width: 180px;
                                          padding-left: 40px;*/
            position: absolute;
            top: 70px; /*50*/
            left: 30px; /*75*/
            /*  margin-left: -90px;
                                          margin-top: -20px;*/
            cursor: move;
            cursor: -webkit-grab;
            cursor: -moz-grab;
        }
    </style>

    <img draggable="true" src="/Template/assets/images/motto1401.png" style="position:absolute;top:70px; left:30px; max-width:75px; max-height:90px; background-color:transparent;z-index:100;" />






    <main class="pb-0">
        <section id="searchbar" class="orange-header">

            <div class="container d-flex flex justify-content-center align-items-center py-4">
                <div class="text-center">
                    <img src="/Template/assets/images/nan-f-01.png" alt="نظام ایده ها و نیازها (نان)" height="110">
                </div>

            </div>
        </section>

        <section class="dashboard-main">

            <div class="pb-5 sidebar bg-dark">
                <div class="pt-3 pb-4 w-100 text-center text-light">
                    <img src="/Template/assets/images/users.png" class="rounded mx-auto d-block border rounded mb-2" width="70px">
                    <p class="mb-1">کاربر : <span class="fw-bold">09364412060</span></p>
                    <small class="text-muted">کاربر عادی</small>
                </div>
                <ul class="side-menu">
                    <li style="cursor:pointer" onclick="javascript: GetUserDashboard()" class="side-menu--li ">
                        <i class="bi bi-speedometer2 fs-5 side-menu--icon"></i> پیشخوان
                    </li>


                    <li class="side-menu--li position-relative side-parent-menu personal-menu-parent" onclick="toggleMenu('personal-menu')">

                        <span>اطلاعات فردی</span>

                        <i class="bi bi-chevron-left position-absolute" style="left:5%;"></i>

                    </li>

                    <li style="cursor:pointer" onclick="javascript: GetUserProfile()" class="side-menu--li side-sub-menu personal-menu-sub">
                        <i class="bi bi-person-bounding-box fs-5 side-menu--icon"></i>
                        ویرایش اطلاعات هویتی
                    </li>

                    <li style="cursor:pointer" onclick="javascript: GetUserEducation()" class="side-menu--li side-sub-menu personal-menu-sub">
                        <i class="bi bi-book-half fs-5 side-menu--icon"></i>
                        اطلاعات تحصیلی
                    </li>

                    <li style="cursor:pointer" onclick="javascript: GetUserAddress() " class="side-menu--li side-sub-menu personal-menu-sub">
                        <i class="bi bi-envelope fs-5 side-menu--icon"></i>
                        ویرایش اطلاعات پستی
                    </li>



                    <li style="cursor:pointer" onclick="javascript: GetUserRequests()" class="side-menu--li">
                        <img src="/Template/assets/images/idea-icon.png" class="side-menu--icon">
                        درخواستهای انتساب
                    </li>
                    <li style="cursor:pointer" onclick="javascript: GetUserIdeas()" class="side-menu--li">
                        <img src="/Template/assets/images/idea-icon.png" class="side-menu--icon">
                        ایده های من
                    </li>
                    <li style="cursor:pointer" onclick="javascript: GetUserNeeds()" class="side-menu--li">
                        <img src="/Template/assets/images/need-icon.png" class="side-menu--icon">
                        نیاز های من
                    </li>





                    <li class="side-menu--li position-relative side-parent-menu legalentity-menu-parent" onclick="toggleMenu('legalentity-menu')">

                        <span>شخصیت حقوقی</span>

                        <i class="bi bi-chevron-left position-absolute" style="left:5%;"></i>

                    </li>

                    <li style="cursor:pointer" onclick="javascript: IntroduceLegalPerson()  " class="side-menu--li side-sub-menu legalentity-menu-sub">

                        مدیریت شخصیت حقوقی
                    </li>


                    <li style="cursor:pointer" onclick="javascript: RequestToAddThinkingRoom() " class="side-menu--li side-sub-menu legalentity-menu-sub">

                        درخواست ثبت اتاق فکر (اندیشکده)
                    </li>

                    <li style="cursor:pointer" onclick="javascript: RequestForBroker() " class="side-menu--li side-sub-menu legalentity-menu-sub">

                        درخواست ثبت کارگزار اجرایی
                    </li>


                    <li style="cursor:pointer" onclick="javascript: MyBrokers() " class="side-menu--li side-sub-menu legalentity-menu-sub">

                        کارگزاری های من
                    </li>







                    <li style="cursor:pointer" class="side-menu--li" onclick=" window.open('/Account/Logout','_self');">
                        <i class="bi bi-door-open fs-5 side-menu--icon"></i>
                        خروج از محیط کاربری
                    </li>

                </ul>


            </div>
            <div id="UserRequestPlc" class="flex-grow-1 py-3 px-3 mainbar">
                  @RenderBody()
            </div>



        </section>
    </main>

    <script>

        function toggleMenu(menuType) {
            if ($("." + menuType + "-sub").hasClass("open")) {
                $("." + menuType + "-sub").removeClass("open");
                $("." + menuType + "-parent").removeClass("open");
            }
            else {
                $("." + menuType + "-sub").addClass("open");
                $("." + menuType + "-parent").addClass("open");
            }
        }


        function GetUserDashboard() {
            //$(".search-blure").show();
            //$(".search-blure-image-container").show();
            //$("html, body").animate({ scrollTop: 0 }, "slow");


            window.open('/UserDashboard/Index', "_self");
            //      $(".search-blure").hide();
            //$(".search-blure-image-container").hide();

        }






        function GetUserRequests() {
            //$(".search-blure").show();
            //document.querySelector("#loader").style.display = "block";

            $(".search-blure-image-container").show();
            $(".search-blure").show();

            $("html, body").animate({ scrollTop: 0 }, "slow");

            jQuery.post('/UserDashboard/UserNeedSubmissionsPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);


                //          document.querySelector("#loader").style.display = "none";
                //$(".search-blure").hide();
                $(".search-blure").hide();
                $(".search-blure-image-container").hide();

            })
        }


        function GetUserProfile() {

            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserProfileInfoPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })

        }




        function GetUserEducation() {

            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserEducationPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })

        }

        function GetUserIdeas() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");



            jQuery.post('/UserDashboard/UserIdeasPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }

        function GetUserNeeds() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserNeedsPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }
        function GetUserIdeadForNeed() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserIdeasForNeedPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }


        function IntroduceLegalPerson() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserIntroducingLegalEntity', {}, function(v) {
                $('#UserRequestPlc').html(v);
                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }

        function IntroduceFacultyMember() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserIntroducingFacultyMember', {}, function(v) {
                $('#UserRequestPlc').html(v);
                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }


        function RequestForBroker() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserRequestToAddBroker', {}, function(v) {
                $('#UserRequestPlc').html(v);
                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }


        function RequestToAddThinkingRoom() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserRequestToAddThinkingRoom', {}, function(v) {
                $('#UserRequestPlc').html(v);
                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }

        function GetUserAddress() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserAddressPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);
                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }


        function GetUserSpeciality() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserSpecialityPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);
                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }



        function MyBrokers() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserBrokers', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }

        function MyThinkingRooms() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserThinkingRoomsListPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }

        function VerifyIdeas() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/VerifyIdeasPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }





        function GetUserSettings() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserSettingsPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }


        function DeleteNotification(id) {
            jQuery.post('/UserDashboard/DeleteNotification', { NotificationId: id }, function(v) {
                var trId = 'notification' + id;
                $('#' + trId).remove();
            });
        }

        function verifyIdeaFullView(e, ideaId) {
            e.preventDefault();
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/VerifyIdeaFullViewPartial', { ideaId: ideaId }, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }

        function VerifyNeeds() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/VerifyNeedsListPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }


        function EcecutiveBrokerSelectExecutiveBroker() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/EcecutiveBrokerSelectExecutiveBrokerPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }



        function ManageNewThinkingRooms() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/ManageNewThinkingRoomsPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }




        function ExecutiveBrokerViewNeeds(brokerId) {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/EcecutiveBrokerViewNeedsPartial', { BrokerId: brokerId }, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }





        function ExecutiveBrokerViewIdeas() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/EcecutiveBrokerViewIdeasPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }




        function verifyNeedFullView(e, needId) {
            e.preventDefault();
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/VerifyNeedFullViewPartial', { needId: needId }, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }

        function VerifyLegalEntities() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/VerifyLegalEntitiesListPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }

        function VerifyUserLegalEntities() {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/VerifyUserLegalEntitiesListPartial', {}, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }



        function ViewUserSingleNeed(NeedId) {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserSingleNeedPartial', { NeedId: NeedId }, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }




        function ViewUserSingleIdea(IdeaId) {
            $(".search-blure-image-container").show();
            $(".search-blure").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            jQuery.post('/UserDashboard/UserSingleIdeaPartial', { IdeaId: IdeaId }, function(v) {
                $('#UserRequestPlc').html(v);

                $(".search-blure").hide();
                $(".search-blure-image-container").hide();
            })
        }


    </script>


    <!-- TOAST -->
    <div class="toast-container position-fixed top-0 end-0 m-3"
         style="z-index: 5">
        <div id="alert-toast"
             class="toast bg-secondary bg-light hide"
             role="alert"
             aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto" id="toast-title-strong"></strong>
                <small class="text-muted" id="toast-title-muted"></small>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
            <div class="toast-body  text-white" id="toast-body">
            </div>
        </div>

        <div id="validation-fail"
             class="toast bg-danger hide"
             role="alert"
             aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">خطا در ورود اطلاعات</strong>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
            <div class="toast-body bg-danger text-white">
                لطفا فیلد های الزامی را تکمیل نمایید
            </div>
        </div>

        <div id="max-link-error"
             class="toast bg-danger hide"
             role="alert"
             aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">خطا در ایجاد لینک جدید </strong>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
            <div class="toast-body bg-danger text-white">
                حد اکثر تعداد لینک مجاز 10 لینک می باشد.
            </div>
        </div>
    </div>
    <!-- MODAL-->


    <footer class="bg-dark text-light">
        <div class="container pt-5 pb-3">

            <div class="text-center mb-4">
                <a class="link-light text-decoration-none" href="https://www.msrt.ir">وزارت علوم، تحقیقات و فناوری</a> /
                <a class="link-light text-decoration-none" href="https://isc.ac"><span class="ISC-Spn">پایگاه استنادی علوم</span> (ISC)</a>
            </div>

            <div class="text-center">
                <p class="text-light small">کلیه حقوق این سایت متعلق به وزارت علوم، تحقیقات و فناوری و <span class="ISC-Spn">پایگاه استنادی علوم</span> (ISC) می باشد.</p>
            </div>


            <div id="snackbar" class=""> </div>



        </div>
    </footer>

    <!--Asp's default files:-->
    <!---->


    <script src="/Template/assets/js/jquery-3.6.0.min.js">
    </script>
    <script src="/Template/assets/js/bootstrap/bootstrap.bundle.min.js">
    </script>
    <script src="/Template/assets/js/jquery-ui.min.js">
    </script>
    <script src="/Template/assets/js/select2/js/select2.min.js">
    </script>
    <script src="/Template/assets/js/select2/js/i18n/fa.js">
    </script>
    <script src="/Template/assets/js/datepicker/kamadatepicker.min.js">
    </script>
    <script src="/Template/assets/js/dropzone/dropzone.min.js">
    </script>
    <script src="/Template/assets/js/functions.js"></script>
    <script src="/lib/SignalR/signalr.js/jquery.signalR.js"> </script>
    <script src="/lib/SignalR/dist/browser/signalr.js"></script>

    <script src="/Template/assets/js/online-chat.js"></script>

    <script src="/Template/assets/js/aos.js"></script>
    <script src="/Template/assets/js/bootstrap-slider.min.js"></script>

    <script>
        var TempData = [];
        var globalUserId;

        //var msgText;
        //function clearTxtBox() {
        //$('#MessageTextInput').val('');
        //}
        //$('#button-addon2').on('click', function () {
        //var Txt = $("#MessageTextInput").val();
        //msgText = Txt;
        //clearTxtBox()
        //})

        $(function() {

            ToastCountDown();
            //
            // var uId = "s";
            //signal

            //var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
            //connection.start().then(function () {
            //}).catch(function (err) {
            //return console.error(err.toString());
            //});



            ////

            ///notifications:
            //        using Microsoft.AspNetCore.Identity

            //inject UserManager<IdentityUser> userManager
            //(userManager.GetUserId(User))
            // Id = userManager.GetUserId(User)


            //        var Id2 = "
            //if (User.Identity.IsAuthenticated)
            //        {
            //            var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;

            //        }
            //}";

        });
        //connection.on("NotificationsUdated",function(Notifications){
        //   alert(Notifications)

        ////
        $('#button-addon2').on('click', function() {

            var message = msgText;

            if (message != '') {

                var sender = '09364412060';
                var dt = new Date();
                var recipient = globalUserId;

                var tm = `${dt.getFullYear()}/${dt.getMonth()}/${dt.getDay()} (${dt.getHours()}:${dt.getMinutes()})`;


                //connection.invoke("SendPublicMessage", sender, message, tm).catch(err)
                clearTxtBox()




            }
        })

        //connection.on('SendMsgToAll', function (sender, msg, tm) {

        //$('#MsgPlc').append(`<div class="chatbox-message from-me">
        //    <p>
        //        ${msg}
        //    </p>
        //    <p> ${tm} </p>
        //</div> `)

        // });

        function ToastCountDown() {
            //// Get the snackbar DIV
            var x = document.getElementById("snackbar");

            //// Add the "show" class to DIV
            //x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function() {
                x.className = x.className.replace("show", "");

                TempData["MessageText"] = null;
            }
                , 5000);
        }
        $(function() {
            ToastCountDown();

        });

        function GetUserId(uid) {
            //chat history should be loaded
            globalUserId = uid;
        }
        $('#GetRecipientInput').on('input', function() {
            $('#FoundRecipients').html('')
            var RecipientToSearch = $(this).val();
            if (RecipientToSearch.length > 2) {

                jQuery.post('Chat/SearchRecipient', { RecipientToSearch: RecipientToSearch }, function(value) {
                    $('#FoundRecipients').append(value)
                })
            }

        })
    </script>



</body>
</html>

<script>

    $(document).ready(function() {
        UpdateNotifications()
    });

    $(document).ready(function() {
        $('#google_translate_element').on('change', 'select.goog-te-combo', function(e) {

            let lang = $(this).val();

            if ((lang == "fa") || (lang == "ar") || (lang == "persian")) {
                $("html").attr("dir", "rtl");
                $('.NaN-INP-spn').html(' نان ')

                $('.Idea-To-Ideas-Spn').html(' ایده ')
                $('.Need-To-Needs-Spn').html(' نیاز ')
                $('.Ideas-Needs-Platform-Spn').html(' نظام ایده ها و نیازها ')
                $('.AboutUs-Spn').html(' درباره ما ')
                $('.ContactUs-Spn').html(' ارتباط با ما ')
                $('.Common-Questions-Spn').html(' پرسش های متداول ')
                $('.News-And-Announcement-Spn').html(' اخبار و اطلاعیه ها ')
                $('.Register-Login-Spn').html(' ورود / ثبت  نام ')
                $('.ISC-Spn').html(' پایگاه استنادی علوم ')

                $('.Whatsapp-Support').html(' گفتگو با پشتیبان ')

                $('.Submit-New-Need-Spn').html(' ثبت نیاز جدید ')

                $('.Submit-New-Idea-Spn').html(' ثبت ایده جدید ')
                $('.View-Ideas-Spn').html(' مشاهده ایده ها ')

                $('.View-Needs-Spn').html(' مشاهده نیازها ')

                $('.Parsa-Spn').html(' پارسا ')
                $('.Dissertation-Spn').html(' رساله ')

                $('.Submit-Park-Capability-Spn').html(' ثبت توانمندی فناورانه ')
                $('.How-INP-Work').html(' نان چگونه کار می کند؟')

                $('.div-text-main').attr("dir", "rtl")
                $('.div-text-main').css("text-align", "right")
                $('.accordion-button').css("text-align", "right")

                $('.Change-Font-Family').css("font-family", "Iransans")
                $('.animate-number').css("font-family", "Iransans")
                //   $('font').css("font-family","Iransans")

                $("html").attr("dir", "rtl");
                $("body").attr("dir", "rtl");
                $("main").attr("dir", "rtl");
                $(".container").attr("dir", "rtl");
                $(".row").attr("dir", "rtl");

            }
            else if (lang == "en") {
                $('.NaN-INP-spn').html(' INP ')
                $('.Idea-To-Ideas-Spn').html(' Ideas ')
                $('.Need-To-Needs-Spn').html(' Needs ')
                $('.Ideas-Needs-Platform-Spn').html(' Ideas And Needs Platform ')
                $('.AboutUs-Spn').html('About Us')
                $('.ContactUs-Spn').html('Contact Us')
                $('.Common-Questions-Spn').html('FAQ')
                $('.News-And-Announcement-Spn').html('News and Announcements')
                $('.Register-Login-Spn').html('Log in / Register')
                $('.ISC-Spn').html('Islamic World Science Citation Center ')
                $('.Whatsapp-Support').html('Technical Support')
                $('.Submit-New-Need-Spn').html('Submit new Need')

                $('.Submit-New-Idea-Spn').html('Submit new Idea')

                $('.View-Ideas-Spn').html('View Ideas')

                $('.View-Needs-Spn').html('View Needs')
                $('.Parsa-Spn').html(' Parsa ')
                $('.Dissertation-Spn').html(' Dissertation ')
                $('.How-INP-Work').html(' How does INP work?')
                $('.Submit-Park-Capability-Spn').html(' Submit technological capability ')

                $('.div-text-main').attr("dir", "ltr")
                $('.div-text-main').css("text-align", "left")
                $('.accordion-button').css("text-align", "left")

                $('.Change-Font-Family').css("cssText", "font-family :sans !important;")
                $('.animate-number').css("cssText", "font-family :sans !important;")
                // $('font').css("cssText","font-family :sans !important;")

                $("html").attr("dir", "ltr");
                $("body").attr("dir", "ltr");
                $("main").attr("dir", "ltr");
                $(".container").attr("dir", "ltr");


            }
            else {
                $("html").attr("dir", "ltr");
                $("body").attr("dir", "ltr");
                $("main").attr("dir", "ltr");
                $(".container").attr("dir", "ltr");
                $(".row").attr("dir", "ltr");

            }
        });

    });

    function UpdateNotifications(page) {
        jQuery.post("/UserDashboard/UpdadaNotificationsPartial", function(value) {

            $('#UserNotificationsPlc').html(value)
            // alert(value);
        })
    }
</script>
<script>
    $(function() {
        $(".drag-me").draggable();

    });

    $("#google_translate_element").ready(function() {
        setTimeout(function() {
            var lang = $('select.goog-te-combo').val()

            if ((lang == "fa")) {
                $("html").attr("dir", "rtl");
                $('.NaN-INP-spn').html(' نان ')
                $('.Idea-To-Ideas-Spn').html(' ایده ')
                $('.Need-To-Needs-Spn').html(' نیاز ')
                $('.Ideas-Needs-Platform-Spn').html(' نظام ایده ها و نیازها ')
                $('.AboutUs-Spn').html(' درباره ما ')
                $('.ContactUs-Spn').html(' ارتباط با ما ')
                $('.Common-Questions-Spn').html(' پرسش های متداول ')
                $('.News-And-Announcement-Spn').html(' اخبار و اطلاعیه ها ')
                $('.Register-Login-Spn').html('ورود / ثبت  نام')
                $('.ISC-Spn').html('پایگاه استنادی علوم')
                $('.Whatsapp-Support').html('گفتگو با پشتیبان')

                $('.Submit-New-Need-Spn').html('ثبت نیاز جدید')

                $('.View-Ideas-Spn').html('مشاهده ایده ها')

                $('.View-Needs-Spn').html('مشاهده نیازها')

                $('.Submit-Park-Capability-Spn').html(' ثبت توانمندی فناورانه ')

                $('.Parsa-Spn').html(' پارسا ')
                $('.Dissertation-Spn').html(' رساله ')
                $('.How-INP-Work').html(' نان چگونه کار می کند')

                $('.Submit-New-Idea-Spn').html('ثبت ایده جدید')
                $('.div-text-main').attr("dir", "rtl")
                $('.div-text-main').css("text-align", "right")
                $('.accordion-button').css("text-align", "right")

                $('.Change-Font-Family').css("font-family", "Iransans")
                $('.animate-number').css("font-family", "Iransans")
                // $('font').css("font-family","Iransans")

                $("html").attr("dir", "rtl");
                $("body").attr("dir", "rtl");
                $("main").attr("dir", "rtl");
                $(".container").attr("dir", "rtl");
                $(".row").attr("dir", "rtl");

            }
            else if (lang == "en") {
                $('.NaN-INP-spn').html(' INP ')
                $('.Idea-To-Ideas-Spn').html(' Ideas ')
                $('.Need-To-Needs-Spn').html(' Needs ')
                $('.Ideas-Needs-Platform-Spn').html(' Ideas And Needs Platform ')
                $('.AboutUs-Spn').html(' About Us ')
                $('.ContactUs-Spn').html(' Contact Us ')
                $('.Common-Questions-Spn').html(' FAQ ')
                $('.News-And-Announcement-Spn').html(' News and Announcements ')
                $('.Register-Login-Spn').html(' Log in / Register ')
                $('.ISC-Spn').html(' Islamic World Science Citation Center ')
                $('.Whatsapp-Support').html(' Technical Support ')

                $('.Submit-New-Need-Spn').html(' Submit new Need ')

                $('.Submit-New-Idea-Spn').html(' Submit new Idea ')
                $('.Parsa-Spn').html(' Parsa ')
                $('.How-INP-Work').html(' How does INP work?')

                $('.Dissertation-Spn').html(' Dissertation ')
                $('.Submit-Park-Capability-Spn').html(' Submit technological capability ')



                $('.View-Ideas-Spn').html(' View Ideas ')

                $('.View-Needs-Spn').html(' View Needs ')




                $('.div-text-main').attr("dir", "ltr")
                $('.div-text-main').css("text-align", "left")
                $('.accordion-button').css("text-align", "left")
                $('.Change-Font-Family').css("cssText", "font-family :sans !important;")
                $('.animate-number').css("cssText", "font-family :sans !important;")
                //  $('font').css("cssText","font-family :sans !important;")




                $("html").attr("dir", "ltr");
                $("body").attr("dir", "ltr");
                $("main").attr("dir", "ltr");
                $(".container").attr("dir", "ltr");
                $(".row").attr("dir", "ltr");

            }

        }, 3000)





    })



        ///
</script>